
.DS_Store
data/.DS_Store
Graph/events.out.tfevents.1534819105.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534819286.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534819444.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534819598.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534823409.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534823583.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534823726.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534823902.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534824065.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534824602.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534825108.DESKTOP-2UCRH42
Graph/events.out.tfevents.1534825988.DESKTOP-2UCRH42
Graph/events.out.tfevents.1535083252.DESKTOP-2UCRH42
Graph/events.out.tfevents.1535083819.DESKTOP-2UCRH42
*.pyc
temp
*.edu
*.ipynb
